body{
    margin: 0;
    padding: 0;
}
.header-estudiante{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.header-estudiante h1{
    color: white;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 10px;
}
.container-semestre{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.container-semestre h1{
    letter-spacing: 4px;
    font-size: 50px;
    font-weight: 100;
}
.container-semestre p{
    font-size: 40px;
    color: red;
    font-weight: 700;
}
.container-carrera{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
   
}
.container-carrera h3{
    letter-spacing: 4px;
    font-size: 50px;
    font-weight: 100;
}
.container-carrera p{
    font-size: 40px;
    color: red;
    font-weight: 700;
}
.cards_materias1{
    display: flex;
    gap: 10%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.cards_materias div{
    color: white;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    border: 4px solid black;
    border-radius: 13px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(100, 148, 237, 0.56);
   transition: all 1.2s;
}
.cards_materias div:hover{
    transform: scale(1.2);
    background-color: rgb(100, 148, 237);
}