body{
    margin: 0;
}
footer{
    background-color: #0E0810;
}
.container-top-bar{
    background-color: black;
    display: flex;
    justify-content: space-between;

}
.container-top-bar-opciones a{
    margin-left: 20px;
}
.container-top-bar-opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container-top-bar-opciones h1{
   color: white;
}
.container-top-bar-opciones a{
    color: white;
    font-size: 25px;
 }
.container-header-nav{
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.container-header-nav-ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.container-header-nav-ul1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container-header-nav-ul img{
    width: 10%;
}
.container-header-nav-ul p{
    cursor: pointer;
}
.container-header-nav-ul1 p{
    cursor: pointer;
}
.container-header-nav-ul1 img{
    width: 10%;
}
.container-picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-picture img{
    width: 18%;
    margin-top: 5%;
}
.container-nav-page{
    margin: 0;
    padding: 0;
    padding: 0;
    width: 100%;
    height: 90px;
    margin-top: 3%;
    background-color: #d8d8d8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-nav-page-ul{
    color: black;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 4px;
}
.container-picture-slider img{
    width: 100%;
}
.title-conoce{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    text-align: center;
}
.title-conoce p{
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 5px;
    border-bottom: 2px solid black;
}
.container-frame-pp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-frame{
    width: 57%;
}

.container-card-facultades{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-card-facultades2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-card-facultades p{
    text-align: center;
    font-size: 24px;
    font-weight: 700;   
}
.container-card-facultades2 p{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.container-card-facultades img{
    background-color: #d8d8d8;
    padding: 50px;
    border-radius: 21px;
}
.container-card-facultades2 img{
    background-color: #d8d8d8;
    padding: 50px;
    border-radius: 21px;
}
.container-footer-col{
    display: grid;
    grid-template-columns: 50% 50%;
}
.container-footer-col div{
    display: grid;
    justify-content: center;
    align-items: center;
}
.container-footer-col-div,h1,h3,h4{
    color: white;
}
.container-frame-maps{
    margin-top: 4%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.container-frame-maps iframe{
    border-radius: 20px;
}
.ul-li{
    display: grid;
    list-style: none;
    justify-content: end;
    align-items: center;
    display: none;
}
.active{
    display: grid;
    list-style: none;
    gap: 10px;
    justify-content: start;
    align-items: center;
}
.container-header-div{
    display: grid;
}
.container-registro{
    margin-top: 8%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container-registro img{
    width:30%;
}

/*EFECTO HOVER */

.a-hover{
    transition: all 1.5s;
}
.a-hover:hover{
    transform: scale(1.08);
    text-decoration: underline;
}

