body{
    background-image: url('./assets/Recurso\ 13 (2).png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-form-logogeneral img{
    width: 6%;
    margin-left: 5%;
    margin-top: 5%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
   
}
.container-form{
    padding: 30px;  
    background-color: white;
    border-radius: 30px;

}
.container-form-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -23%;
}
.container-form-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}
.container-form-h1 h1{
    letter-spacing: 5px;
     color: black;
    font-weight: 700;
}
.container-form-input{
    display: grid;
}
.container-form-input input{
    width: 400px;
    border-radius: 15px;
    border: 0px;
    background-color: rgba(206, 206, 206, 0.748);
    padding-top: 7px;
    padding-bottom: 7px;
}
.container-form-input label{
   color: black;
   font-size: 18px;
}
.container-form-inputs-labels{
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    gap: 24px;
}
.container-fomr-button {
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-fomr-button button{
    background-color: #f28705;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    border: 0px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: all 1.2s;
}
.container-fomr-button button:hover{
    transform: scale(1.050);
    background-color: black;
}
.container-form-olvidaste a{
color: black;
font-size: 17px;
}
.container-form-olvidaste {
    display: flex;
    justify-content: center;
    align-items: center;
}
.olvidaste{
    display: flex;
    gap: 10px;
}
    
